<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="{{ .Site.BaseURL}}css/page.css" as="style">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Personal site for Ivan de Wolf">
<meta name="author" content="Ivan de Wolf">
<meta name="robots" content="index,follow">
<title>{{ .Title }}</title>
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ .Site.BaseURL}}css/page.css">